<div>
  <br/><br/>
  <a (click)="volver()">Volver</a>
  <h1> {{ ciudad.nombre }} </h1>
  <span>{{ clima | json }}</span>

  <div class="temperatura">
    <div class="info">
      <span><strong>Minima:</strong> {{ temperatura.min | number | temperatura }}</span>
      <span><strong>Maxima:</strong> {{ temperatura.max | number | temperatura }}</span>
      <span><strong>Actual:</strong> {{ temperatura.actual | number | temperatura }}</span>
    </div>
    <img src="http://openweathermap.org/img/w/{{ temperatura.estado }}.png"/>
  </div>
</div>
