<div class="ciudad-item" [ngClass]="!clima.clima.oleaje ? 'incomplete' : ''">
  <h3>
    {{ ciudad.nombre | encomillar }} - <i>{{ ciudad.pais | uppercase }}</i>
    <button (click)="editar()">{{ mostrarEdicion ? 'Ocultar' : 'Editar'}} </button>
  </h3>
  <div *ngIf="clima.clima.viento.velocidad">
    Viento: {{ clima | windDirection }}
  </div>

  <div *ngIf="mostrarEdicion">
      Nuevo nombre: <input #nombre>
      <button (click)="cambiarNombre(nombre.value)">Cambiar</button>
    </div>
</div>
